backend/lib/odi/oracle.jps/common/schema/xml/11.1.1.3.0/jazn-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified" >

    <xsd:element name="jazn-data" type="JAZN-DATAjazn-dataType" >
       <xsd:annotation>
          <xsd:documentation>
            This element is the top level element for Oracle's JPS DataStore.
          </xsd:documentation>
       </xsd:annotation>
   </xsd:element>

    <xsd:complexType name="JAZN-DATAjazn-dataType">
       <xsd:sequence>
           <xsd:element name="jazn-realm" type="JAZN-DATAjazn-realmType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This is the set of realms in the identity store.
                    </xsd:documentation>
                </xsd:annotation>
           </xsd:element>

           <xsd:element name="policy-store" type="JAZN-DATAPolicyStoreType" minOccurs="0">
           <xsd:annotation>
           <xsd:documentation>This is the policy information</xsd:documentation>
           </xsd:annotation>
           </xsd:element>
           <xsd:element name="jazn-policy" type="JAZN-DATAjazn-policyType" minOccurs="0" />
       </xsd:sequence>
       <xsd:attribute name="schema-major-version" type="xsd:integer" fixed="11">
            <xsd:annotation>
                <xsd:documentation>
                    The element specifies the major version of this schema.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
       <xsd:attribute name="schema-minor-version" type="xsd:string" fixed="1.1.3.0">
            <xsd:annotation>
                <xsd:documentation>
                    This element specifies the minor version of this schema.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--*******************************************************************************************************-->
    <!--  identity store schema  -->
    <xsd:complexType name="JAZN-DATAjazn-realmType">
        <xsd:annotation>
            <xsd:documentation>
                realm type
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="realm" type="JAZN-DATArealmType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="default" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    This attribute specifies the default realm among the set of
                    realms.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATArealmType">
        <xsd:annotation>
          <xsd:documentation>
                This element specifies a realm.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the realm.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="users" type="JAZN-DATAusersType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the set of users in this realm.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="roles" type="JAZN-DATArolesType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the set of roles in this realm.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAusersType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies the set of users.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="user" type="JAZN-DATAuserType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a user in this realm.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAuserType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a user.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the user.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="display-name" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the display name of the user. May
                        be used by GUI tools.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="description" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element contains a description that describes the
                        user.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element contains a unique identifier used to
                        reference the user.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="credentials" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This Element contains the authentication password for
                        the user. It can be configured to be in cleartext or
                        obfuscated form.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="deactivated" type="trueFalseType" use="optional">
          <xsd:annotation>
             <xsd:documentation>
                This attribute specifies if the user is activated or not.
             </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATArolesType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a set of enterprise (idstore) roles/groups.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="role" type="JAZN-DATAroleType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies an idstore role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAroleType">
        <xsd:all>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the role name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the display name of the role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element contains a description that describes the
                        role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" />
            <xsd:element name="members" type="JAZN-DATAmembersType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element contains a list of users or roles that are
                        members of this role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="owners" type="JAZN-DATAownersType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies owners of this role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAmembersType">
        <xsd:sequence>
            <xsd:element name="member" type="JAZN-DATAmemberType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAmemberType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a role member.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the type of the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAownersType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a role owner.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="owner" type="JAZN-DATAownerType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAownerType">
        <xsd:all>
            <xsd:element name="type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the type of the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <!--*******************************************************************************************************-->
    <!-- Policy Store schema -->
    <xsd:complexType name="JAZN-DATAPolicyStoreType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies the authorization policy.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="jazn-permission-classes" type="JAZN-DATAjazn-permission-classesType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        RESERVED FOR FUTURE USE.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jazn-principal-classes" type="JAZN-DATAjazn-principal-classesType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        RESERVED FOR FUTURE USE.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="applications" type="JAZN-DATAapplicationsType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a set of application policies.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
           <xsd:element name="jazn-policy" type="JAZN-DATAjazn-policyType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the global or system policy.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAapplicationsType">
        <xsd:sequence>
            <xsd:element name="application" type="JAZN-DATAapplicationType"  maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies an application policy.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAapplicationType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the policy context identifier.
                        Typically, this is the name of the application during
                        deployment.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element is a description of the application policy.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="app-roles" type="JAZN-DATAapprolesType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the set of application roles in
                        this application.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resource-types" type="JAZN-DATAresourceTypesType" minOccurs="0">
            <xsd:annotation>
                    <xsd:documentation> This element specifies a set of resource types</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="resources" type="JAZN-DATAresourcesType" minOccurs="0">
            <xsd:annotation>
                    <xsd:documentation> This element specifies a set of resources</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="permission-sets" type="JAZN-DATApermissionSetsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation> This element specifies a set of permissionSets</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="role-category" type="JAZN-DATAroleCategoryType" minOccurs="0">
            <xsd:annotation>
                    <xsd:documentation> This element specifies a set of role categories</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="jazn-policy" type="JAZN-DATAjazn-policyType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the policy of this application.
                        The set of permissions granted to a grantee (users/roles/codesource).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jacc-repository" type="JAZN-DATAjacc-repositoryType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the Java Authorization Contract for Container (JACC)
                        policies for this application.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>This element specifies application version</xsd:documentation>
            </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAapprolesType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a set of application roles.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="app-role" type="JAZN-DATAapproleType"  maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

       <xsd:complexType name="JAZN-DATAapproleType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies an application role.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the fully qualified  name of the
                        Java class implementing the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the display name of the role. May
                        by used by GUI tools.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This elements specifies the description that describes
                        the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies an unique identifier to reference
                        the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uniquename" type="xsd:string" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifes an unique name used to reference
                        the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="extended-attributes" type="JAZN-DATAextendedAttributesType" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifes additional attributes associated
                        with the application role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="inheritedapproles"
                         type="JAZN-DATAapprolemembersType" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the set of application roles that
                        are assigned to this application role.
                        RESERVED FOR FUTURE USE.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="members" type="JAZN-DATAapprolemembersType" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the set of roles, users and
                        application roles that are members of this role.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
 
    <xsd:complexType name="JAZN-DATAextendedAttributesType">
        <xsd:annotation>
           <xsd:documentation>
              This element specifies an Attribute type.
           </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="attribute" type="JAZN-DATAextendedPropertiesType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="JAZN-DATAextendedPropertiesType">
        <xsd:annotation>
           <xsd:documentation>
              This element specifies an extended properties type.
           </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
           <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
           <xsd:element name="values" type="JAZN-DATAextendedPropertyValuesType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAextendedPropertyValuesType">
        <xsd:annotation>
            <xsd:documentation>
               This element specifies a values type.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAapprolemembersType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a set of role members.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="member" type="JAZN-DATAapprolememberType"  maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAapprolememberType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies an application role member.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the fully qualified name of the
                        Java class implementing the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uniquename" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the unique name of the role
                        member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the globally unique identifier of
                        the role member.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <!-- resource catalog artifacts -->
    <xsd:complexType name="JAZN-DATAroleCategoriesType">
        <xsd:sequence>
            <xsd:element name="role-category" type="JAZN-DATAroleCategoryType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAroleCategoryType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="members" type="JAZN-DATAroleCategoryMemberType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAroleCategoryMemberType">
        <xsd:sequence>
            <xsd:element name="role-name-ref" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation> This element specifies the name of an application role</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAresourceTypesType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a set of resource types</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resource-type" type="JAZN-DATAresourceTypeType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAresourceTypeType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a resource type</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provider-name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="matcher-class" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="actions-delimiter" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="actions" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAresourcesType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a set of resources</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resource" type="JAZN-DATAresourceType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAresourceType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a resource</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="type-name-ref" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATApermissionSetsType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a set of permissionSets</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="permission-set" type="JAZN-DATApermissionSetType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATApermissionSetType">
        <xsd:annotation>
            <xsd:documentation> This element specifies a permissionSet</xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="display-name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="member-resources" type="JAZN-DATAmemberResourcesType"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAmemberResourcesType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a set of resources belonging to a permissionSet
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="member-resource" type="JAZN-DATAmemberResourceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAmemberResourceType">
        <xsd:annotation>
            <xsd:documentation>
                  This element specifies a resource that belongs to a permissionSet
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="resource-name" type="xsd:string"/>
            <xsd:element name="type-name-ref" type="xsd:string"/>
            <xsd:element name="actions" type="xsd:string" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAjazn-policyType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a policy.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="grant" type="JAZN-DATAgrantType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a set of grants.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAgrantType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a grant of a permission to a grantee.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0"  >
                <xsd:annotation>
                    <xsd:documentation>
                        This element contains a description about the grant.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="grantee" type="JAZN-DATAgranteeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the grantee who is granted the
                        permission(s).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="permissions" type="JAZN-DATApermissionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a set of permissions.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="permission-set-refs" type="JAZN-DATApermissionSetRefsType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATApermissionSetRefsType">
        <xsd:sequence>
            <xsd:element name="permission-set-ref" type="JAZN-DATApermissionSetRefType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATApermissionSetRefType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a permission set reference.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the reference of the permission set.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAgranteeType">
        <xsd:annotation>
            <xsd:documentation>
                This element specfies a grantee.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
             <xsd:element name="principals" type="JAZN-DATAprincipalsType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a set of principals in the
                        grantee.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codesource" type="JAZN-DATAcodesourceType" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the codesource.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAprincipalsType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a Principal.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="principal" type="JAZN-DATAprincipalType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAprincipalType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a principal.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the principal.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the full qualified name of the
                        Java class implementing the Principal.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="uniquename" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the unique name of the principal.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="guid" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a globally unique identifier of
                        the principal.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAcodesourceType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a codesource.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a codesource URL that is used as
                        a codesource.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATApermissionsType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies a Java Permission.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="permission" type="JAZN-DATApermissionType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                    This element specifies a permission.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATApermissionType">
        <xsd:all>
            <xsd:element name="class" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies a full qualified name of a class
                        that implements this permission.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the name of the permission.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="actions" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        This element specifies the actions of the permission.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="JAZN-DATAjazn-permission-classesType">
        <xsd:sequence>
            <xsd:element name="permission-class" type="JAZN-DATApermission-classType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        RESERVED FOR FUTURE USE
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATApermission-classType">
        <xsd:annotation>
            <xsd:documentation>
                RESERVED FOR FUTURE USE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="class" type="xsd:string"/>
            <xsd:element name="target-descriptors" type="JAZN-DATAtarget-descriptorsType"/>
            <xsd:element name="action-descriptors" type="JAZN-DATAaction-descriptorsType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAtarget-descriptorsType">
        <xsd:annotation>
            <xsd:documentation>
                RESERVED FOR FUTURE USE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="target-descriptor" type="JAZN-DATAtarget-descriptorType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAtarget-descriptorType">
        <xsd:annotation>
            <xsd:documentation>
                RESERVED FOR FUTURE USE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAaction-descriptorsType">
        <xsd:annotation>
            <xsd:documentation>
                RESERVED FOR FUTURE USE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="action-descriptor" type="JAZN-DATAaction-descriptorType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAaction-descriptorType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAjazn-principal-classesType">
        <xsd:sequence>
            <xsd:element name="principal-class" type="JAZN-DATAprincipal-classType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAprincipal-classType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="class" type="xsd:string"/>
            <xsd:element name="name-description-map" type="JAZN-DATAname-description-mapType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAname-description-mapType">
        <xsd:sequence>
            <xsd:element name="name-description-pair" type="JAZN-DATAname-description-pairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="JAZN-DATAname-description-pairType">
        <xsd:annotation>
            <xsd:documentation>
                RESERVED FOR FUTURE USE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- JACC -->
    <xsd:complexType name="JAZN-DATAjacc-repositoryType">
        <xsd:annotation>
            <xsd:documentation>
                This element specifies the JACC Policy.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="excluded-policy" type="JAZN-DATAjazn-policyType" minOccurs="0"/>
            <xsd:element name="unchecked-policy" type="JAZN-DATAjazn-policyType" minOccurs="0"/>
            <xsd:element name="role-policy" type="JAZN-DATAjazn-policyType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--*******************************************************************************************************-->
    <!-- common basic types, may move to another schema file -->
    <xsd:simpleType name="trueFalseType">
        <xsd:annotation>
            <xsd:documentation>This type defines two different values which can designate boolean values. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>

