backend/lib/odi/oracle.jps/common/schema/xml/12.1.2/component-security-info.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="ComponentSecurityInfoStateType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE" />
            <xsd:enumeration value="INACTIVE" />
            <xsd:enumeration value="PROCESSED" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OracleVersionType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{2}([\.][\d]){4}"/>
        </xsd:restriction>    
    </xsd:simpleType>
    <xsd:simpleType name="ArtifactType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AUDIT" />
            <xsd:enumeration value="POLICY" />
            <xsd:enumeration value="CREDENTIAL" />
            <xsd:enumeration value="KEYS" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LifecycleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DEPLOYMENT" />
            <xsd:enumeration value="PERPETUAL" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProcessingModeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MERGE" />
            <xsd:enumeration value="OVERWRITE" />
            <xsd:enumeration value="OFF" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="component-security-info" type="component-security-infoType" />
    <xsd:complexType name="component-security-infoType">
        <xsd:sequence>
            <xsd:element name="packaged-artifacts" type="packaged-artifactsType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="version" type="OracleVersionType" use="required" />
        <xsd:attribute name="description" type="xsd:string" use="required" />
        <xsd:attribute name="owner" type="xsd:string" />
        <xsd:attribute name="state" type="ComponentSecurityInfoStateType" use="required" />
    </xsd:complexType>
    <xsd:complexType name="packaged-artifactsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="artifact" type="artifactInfo" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="artifactInfo">
        <xsd:sequence>
            <xsd:element name="file-path" type="xsd:string" />
            <xsd:element name="xlf-file-path" type="xsd:string" minOccurs="0" />
            <xsd:element name="registration" type="registrationType" />
        </xsd:sequence>
        <xsd:attribute name="type" type="ArtifactType" />
    </xsd:complexType>
    <xsd:complexType name="config-paramType">
        <xsd:sequence>
            <xsd:element name="param-name" type="xsd:string" />
            <xsd:element name="param-value" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registrationType">
        <xsd:sequence>
            <xsd:element name="target-name" type="xsd:string" minOccurs="0" />
            <xsd:element name="processing-mode" type="ProcessingModeType" minOccurs="0" />
            <xsd:element name="lifecycle" type="LifecycleType" minOccurs="0" />
            <xsd:element name="config-param" type="config-paramType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
